body{
 display: flex;
 flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 158, 40, 0.459);
  font-family: monospace;
  height: 100%;
}
#box{
  
 display: flex;
 flex-direction: column;
   background-color: rgba(255, 255, 255, 0.455);
  width: 500px;
  height: 300px;
 padding:  5em;
 gap: .9em;

  border-radius: 13px;
  box-shadow: 10px 10px 10px rgb(105, 102, 98);
  border-radius: 30%;
}
#clock_box{
  display: flex;
  background-color: rgb(255, 255, 255);
  font-size: 4.7em;
  justify-content: center;
  text-align: center;
  align-items: center;
 text-shadow: 3px 3px 3px rgb(91, 89, 86);
  padding: .3em;
  
  border-radius: 13px;
  box-shadow: 10px 10px 10px rgb(105, 102, 98);
}
.btns{
 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 1em;
box-shadow: 10px 10px 10px rgb(176, 170, 163);
   border-radius: .5em;
   padding: 1em;
 


}


#start{
  background-color: rgb(38, 109, 18);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: .9em;
  box-shadow: 10px 10px 10px rgb(105, 102, 98);
  transition: background-color 0.3s ease-out, box-shadow 0.4s ease-out;
}
#start:hover{
  background-color: rgb(49, 131, 24);
  box-shadow: 5px 5px 5px rgb(86, 56, 4);
}

#stop{
  background-color: rgb(209, 33, 17);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
   font-weight: bold;
  font-size: .9em;
  box-shadow: 10px 10px 10px rgb(105, 102, 98);
  transition: background-color 0.3s ease-out, box-shadow 0.4s ease-out;
}
#stop:hover{
  background-color: rgb(190, 4, 0);
  box-shadow: 5px 5px 5px rgb(86, 56, 4);
}

#reset{
  background-color: rgb(0, 99, 204);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
   font-weight: bold;
  font-size: .9em;
   box-shadow: 10px 10px 10px rgb(105, 102, 98);
  transition: background-color 0.3s ease-out, box-shadow 0.4s ease-out;
}
#reset:hover{
  background-color: rgb(0, 79, 184);
  box-shadow: 5px 5px 5px rgb(86, 56, 4);
}